<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlMapper.SqlServer" connectionString="Data Source=EUSS;Initial Catalog=uss2; Integrated Security=true"/>
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <add name="Evaluant.Uss.Mapper.Sql" value="All"/>
      <add name="Evaluant.Uss.Mapper.Visitors" value="All"/>
    </switches>
    <trace>
      <listeners>
        <add name="unitTest" type="Evaluant.Uss.Tests.UnitTestTraceListener, Evaluant.Uss.Tests" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>