<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("a795c6d7-6414-4fff-a7fd-16791b38f7fa");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
